main{
    display: flex;
    align-items: center;
    justify-content: center;
}


.canvas{
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background-color: rgb(97, 95, 92);
    user-select: none;
}

.cell-grid{
    border: 1px solid black;
}

.controls{
    display: flex;
    flex-direction: column;
}

.colors-used-panel {
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: rgb(84, 96, 107);
}
